/* You can add global styles to this file, and also import other style files */
html{
    background-color: #ead9c2;
}

h1 {
    font-weight: bolder;
    font-size: larger;
}

#nome-pizza{
    text-align: center;
}

#error-message{
    color: rgb(255, 0, 0);
    font-size: large;
    font-weight: bold;
}

.centered, .horizontal1, .horizontal2{
    text-align: center;
    background-color: #dbbb8f;
}

.bottom{
    text-align: center;
    padding-top: 20%;
}

.centered-bottom{
    float:bottom;
    background-color: red;
}

button, input[type=submit]{
    background-color: red;
    border: solid black 1px;
    padding:5%;
}

button:hover, input[type=submit]:hover{
    background-color: gray;
    border: red;
    padding:5%;
}

.button2{
    padding: 1%;
}

.button2:hover{
    padding: 1%;
}

table, th, td{
    border: solid 1px;
    border-collapse: collapse;
}
table{
    width: 100%;
}

td{
    padding: 2%;
}

li{
    text-align: left;
}

.horizontal{
    float:left;
    margin-right: auto;
    margin-left: auto;
    width: 49%;
}